[jenkins]
base_url = https://yourjenkins.yourcompany.com
username = jenkins_username
password = jenkins_password
view = ViewName

[general]
polling_interval = 30

[raspberry_pi]
address = 192.168.178.11
port = 1337